@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/hero-new');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #1f2937;
    background: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px

  
}


.navbar {
    background-color: #1f2937;
    color: #fff;
    height: 100px;
}

.navbar.logo {
    font-size:xx-large;
    font-weight: bolder;
}

.navbar a:hover { 
    color: lightsalmon
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.navbar ul {
    display: flex;
    list-style-type: none;
}

ul li{
     margin-left: 20px;
}



a:link {
    text-decoration: none;
}

.navbar a {
    font-size: 18px;
    font-weight: bold;
    color: #e5e6eb;
    list-style: none;

}

.header {
    background-color: #1f2937;
    color: #e5e6eb;
    min-height: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .leftbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    max-width: 400px;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
 }

.txt_box h1 {
    max-width: 200px;
    font-size: 48px;
    font-weight: bolder;
    background: #e5e7eb;
    color: #fff;
    text-align: left;
}

.txt_box p {
    max-width: 200px;
    font-family: 'Hero New', sans-serif;
    font-size: 18PX;
    font-weight: bolder;
    color: #e5e6eb;
    text-align: left;

}

.button:hover {
    color: lightsalmon;
}

.button {
    display: block;
    background-color: #3882f6;
    color: #fff;
    width: 150px;
    margin: 10px 0px;
    padding: 5px 20px;
    border: 1px solid #3882f6;
    border-radius: 10px;
    border-color: #3882f6;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px 50px ;
    margin: 50px; 
}

.boxes h2 {
    display: flex;
    justify-content: center;
    font-family: ;
    font-size: 36px;
    font-weight:extra-bold;
    color: #1f2937;
    
}
.boxes .container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    padding: 0 50px;
    margin: 50px;
        
}
.box_p {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    
}
.boxes p{
    width: 150px;
    text-align: center;

}
.boxes .box {
    width: 150px;
    height: 150px;
    border: 3px solid #0380fd;
    border-radius: 15px;


}
.inspireing {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center;
    background: #e5e7eb;
}
.inspireing p {
    max-width: 775px;
    font-size: 36px;
    font-weight: 25;
    font-style: italic;
    color: #1f2937;
    padding: 100px 100px ;
    text-align: justify;

}

.inspireing .quoted {
    display: block;
    font-size: 10px;
    font-family: 'Hero New', sans-serif;
    font-weight: bolder;
    color: #1f2937;
    align-self:self-end;
    margin-right: 50px;
}
.singup {
    background: #1b79e6;
    margin: 50px 0px 50px 0px;
    padding: 50px ;
}

.button_2:hover {
    color: #06ff8b;
}

.button_2 {
    display: block;
    background-color: #0380fd;
    color: #fff;
    margin: 10px 0px;
    padding: 5px 20px;
    border-color: #f9faf0;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 25px;
}