@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/hero-new');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    display: flex;
    flex-direction: column;
}


.navbar {
    background-color: #1f2937;
    color: #fff;
}

.navbar .container {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px 0px 50px;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    margin: 10px;
}

a:link {
    text-decoration: none;
}

a {
    font-size: 18px;
    color: #e5e6eb;
    list-style: none;

}


.header .container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background: #1f2937;
    padding: 50px;
}

.header .header_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px 0px 0px 25px;
    padding: 10px;
}

@media (max-width: 700px) {
    .flex-container {
        flex-direction: column;
    }
}

h1 {
    display: flex;
    flex:1;
    color: #e5e6eb;
}

.container .quote {
    color: #e5e7eb;
}



.txt_box {
    width: 300px; 
    display: flex;
    flex: 1;
    align-items:flex-start;
    color: #e5e6eb;
}

.txt_box h1 {
    display: block;
    width: 200px;
    word-break: keep-all;
    font-size: 48px;
    font-weight: bolder;
    background: #e5e7eb;
    color: #fff;
    text-align: left;
}

.txt_box p {
    font-family: 'Hero New', sans-serif;
    font-size: 18PX;
    color: #fff;
    display: block;
    justify-content: flex-start;
    text-align: left;

}

.button:hover {
    color: #3882f6;
}

.button {
    display: block;
    background-color: #0380fd;
    color: #fff;
    margin: 10px 0px;
    padding: 5px 20px;
    border-radius: 10px;
}

img {
    height: 200px;
    display: flex;
    background: grey;
    margin: 0 50px 0px 50px;

}

.boxes {
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}